<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Signin</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'signin.css' %}" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
  </head>

  <body>

    <div class="container">
      <a href="/editar_perfil">Editar perfil</a>
      <br><br>
      <a href="/user_logout">Logout</a>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>